# Homework Week 6

In [9]:
#Sheet 1 Roster
import pandas as pd

df = pd.read_excel('6-Homework.xlsx')

print(df)

             Semester Grades Unnamed: 1 Unnamed: 2      Unnamed: 3
0               Student Name       Age       Grade        Homeroom
1             Sarah Ashworth         12       0.85  Social Studies
2             Amanda Johnson         11       0.72  Social Studies
3                David Cline         13        0.6  Social Studies
4            Matthew Roberts         12       0.95  Social Studies
5            Sierra Chadwick         14       0.88  Social Studies
6         Ronnie Dangerfield         12       0.99  Social Studies
7              Thomas Cruise         11       0.75  Social Studies
8       Bradley Swickerwrath         13          1  Social Studies
9               Gracie Smith         13       0.75  Social Studies
10             John McDonald         15       0.85  Social Studies
11             Raymond James         11       0.85  Social Studies
12                       NaN        NaN        NaN             NaN
13                       Min         11        0.6             NaN
14                       Max         15          1             NaN
15                       Avg  12.454545   0.835455             NaN
16                      Mode         12       0.85             NaN
17                    Median         12       0.85             NaN
18  Count Number of Students         11        NaN             NaN

In [10]:
#Sheet 2 Credit Card Debt
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',1)

print(df)

   Credit Card Debt              Unnamed: 1     Unnamed: 2   Unnamed: 3  \
0       Credit Card                 Balance  Interest Rate       Months
1          Discover                    2000           0.21            3
2       Capital One                     450           0.25            3
3         Citi Card                     975           0.27            3
4            Target                    1500           0.15            3
5          Wal-Mart                     780           0.25            3
6               NaN                     NaN            NaN          NaN
7               NaN                     NaN            NaN          NaN
8       Credit Card  Sum of Monthly Payment            NaN  Credit Card
9       Capital One                  46.875            NaN  Capital One
10        Citi Card                103.1875            NaN    Citi Card
11         Discover              201.666667            NaN     Discover
12           Target                  143.75            NaN       Target
13         Wal-Mart                   81.25            NaN     Wal-Mart
14      Grand Total              576.729167            NaN  Grand Total

        Unnamed: 4              Unnamed: 5       Unnamed: 6
0    Interest Paid       Total Loan Amount  Monthly Payment
1              140                    2420       201.666667
2             37.5                   562.5           46.875
3            87.75                 1238.25         103.1875
4               75                  1725.0           143.75
5               65                     975            81.25
6              NaN                     NaN              NaN
7              NaN                     NaN              NaN
8   Sum of Balance  Sum of Monthly Payment              NaN
9              450                  46.875              NaN
10             975                103.1875              NaN
11            2000              201.666667              NaN
12            1500                  143.75              NaN
13             780                   81.25              NaN
14            5705              576.729167              NaN

In [11]:
#Sheet 3 Payroll
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',2)

print(df)

   Employee Payroll  Unnamed: 1   Ryan Moore 2023-03-05 00:00:00  \
0               NaN         NaN          NaN                 NaN
1        Last  Name  First Name  Hourly Wage        Hours Worked
2            Walker     Lindsay           10                  40
3              Bell        Gary           15                  35
4            Rogers     Phillip          3.5                  30
5              Hill        Bill         20.1                  50
6            Abbott       Bryan         5.75                  55
7             Young       Tammy           12                  45
8              Hail       Aaron         6.55                  25
9            Miller   Christina           30                  29
10           Little     Matthew           75                  32
11           Munson        Cary           40                  44
12           Taylor      Milton           25                  22
13              NaN         NaN          NaN                 NaN
14              MAX         NaN           75                  55
15              MIN         NaN          3.5                  22
16              AVG         NaN    22.081818                  37
17            TOTAL         NaN        242.9                 407

      Unnamed: 4    Unnamed: 5    Unnamed: 6    Unnamed: 7 Unnamed: 8  \
0            NaN           NaN           NaN           NaN        NaN
1   Hours Worked  Hours Worked  Hours Worked  Hours Worked        Pay
2             40            40            40            40       2000
3             35            35            35            35       2625
4             30            30            30            30        525
5             50            50            50            50       5025
6             55            55            55            55    1581.25
7             45            45            45            45       2700
8             25            25            25            25     818.75
9             29            29            29            29       4350
10            32            32            32            32      12000
11            44            44            44            44       8800
12            22            22            22            22       2750
13           NaN           NaN           NaN           NaN        NaN
14            55            55            55            55      12000
15            22            22            22            22        525
16            37            37            37            37       3925
17           407           407           407           407      43175

        Unnamed: 9     Unnamed: 10     Unnamed: 11     Unnamed: 12  \
0              NaN             NaN             NaN             NaN
1   Overtime Hours  Overtime Hours  Overtime Hours  Overtime Hours
2                0               0               0               0
3                0               0               0               0
4                0               0               0               0
5               10              10              10              10
6               15              15              15              15
7                5               5               5               5
8                0               0               0               0
9                0               0               0               0
10               0               0               0               0
11               4               4               4               4
12               0               0               0               0
13             NaN             NaN             NaN             NaN
14              15              15              15              15
15               0               0               0               0
16        3.090909        3.090909        3.090909        3.090909
17              34              34              34              34

       Unnamed: 13     Unnamed: 14  Unnamed: 15
0              NaN             NaN          NaN
1   Overtime Hours  Overtime Bonus        Total
2                0               0         2000
3                0               0         2625
4                0               0          525
5               10           502.5       5527.5
6               15         215.625     1796.875
7                5             150         2850
8                0               0       818.75
9                0               0         4350
10               0               0        12000
11               4             400         9200
12               0               0         2750
13             NaN             NaN          NaN
14              15           502.5        12000
15               0               0          525
16        3.090909      115.284091  4040.284091
17              34        1268.125    44443.125

In [12]:
#Sheet 4 Expenses
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',3)

print(df)

               EXP Table         Unnamed: 1      Unnamed: 2  \
0          Document Date           Supplier       Reference
1    2011-02-14 00:00:00       XY Solutions          S77782
2    2011-03-01 00:00:00  IS Communications   Invoice EXP22
3    2011-03-02 00:00:00           Newscorp         I381119
4    2011-03-05 00:00:00        EAG Brokers     Debit Order
..                   ...                ...             ...
204  2012-02-26 00:00:00         HP Finance     Debit Order
205  2012-02-26 00:00:00      PR Properties     Debit Order
206  2012-02-29 00:00:00  Example (Pty) Ltd  Bank Statement
207  2012-02-29 00:00:00  Example (Pty) Ltd  Bank Statement
208  2012-02-29 00:00:00     Inland Revenue          Return

                    Unnamed: 3            Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0                  Description  Tax Inclusive Amount   Tax Code  Bank Code
1              Opening Balance                  5100          A         B1
2    Internet Service Provider                   179          A         B1
3                Subscriptions                   478          A         B1
4                    Insurance                   340          A         B1
..                         ...                   ...        ...        ...
204              Interest paid                   100          E         B1
205                       Rent                  6400          A         B1
206   Petty Cash Reimbursement                    70          E         B1
207   Petty Cash Reimbursement                   -70          E         PC
208            Provisional Tax                  3700          E         B1

       Unnamed: 7           Unnamed: 8
0    Account Code         Payment Date
1          BS-500  2011-03-02 00:00:00
2          IS-380  2011-03-31 00:00:00
3          IS-375  2011-04-01 00:00:00
4          IS-340  2011-03-05 00:00:00
..            ...                  ...
204        IS-500  2012-02-26 00:00:00
205        IS-350  2012-02-26 00:00:00
206        BS-399  2012-02-29 00:00:00
207        BS-399  2012-02-29 00:00:00
208        IS-600  2012-02-29 00:00:00

[209 rows x 9 columns]

In [13]:
#Sheet 5 IAS
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',4)

print(df)

    IAS Accountants Filter         Unnamed: 1      Unnamed: 2  \
0            Document Date           Supplier       Reference
1      2011-02-14 00:00:00       XY Solutions          S77782
2      2011-03-01 00:00:00  IS Communications   Invoice EXP22
3      2011-03-02 00:00:00           Newscorp         I381119
4      2011-03-05 00:00:00        EAG Brokers     Debit Order
..                     ...                ...             ...
204    2012-02-26 00:00:00         HP Finance     Debit Order
205    2012-02-26 00:00:00      PR Properties     Debit Order
206    2012-02-29 00:00:00  Example (Pty) Ltd  Bank Statement
207    2012-02-29 00:00:00  Example (Pty) Ltd  Bank Statement
208    2012-02-29 00:00:00     Inland Revenue          Return

                    Unnamed: 3            Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0                  Description  Tax Inclusive Amount   Tax Code  Bank Code
1              Opening Balance                  5100          A         B1
2    Internet Service Provider                   179          A         B1
3                Subscriptions                   478          A         B1
4                    Insurance                   340          A         B1
..                         ...                   ...        ...        ...
204              Interest paid                   100          E         B1
205                       Rent                  6400          A         B1
206   Petty Cash Reimbursement                    70          E         B1
207   Petty Cash Reimbursement                   -70          E         PC
208            Provisional Tax                  3700          E         B1

       Unnamed: 7           Unnamed: 8
0    Account Code         Payment Date
1          BS-500  2011-03-02 00:00:00
2          IS-380  2011-03-31 00:00:00
3          IS-375  2011-04-01 00:00:00
4          IS-340  2011-03-05 00:00:00
..            ...                  ...
204        IS-500  2012-02-26 00:00:00
205        IS-350  2012-02-26 00:00:00
206        BS-399  2012-02-29 00:00:00
207        BS-399  2012-02-29 00:00:00
208        IS-600  2012-02-29 00:00:00

[209 rows x 9 columns]

In [14]:
#Sheet 6 Suppliers
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',5)

print(df)

             Supplier  Sum of Tax Inclusive Amount
0          XY Traders                      7447.00
1        XY Solutions                      5100.00
2             Waltons                      2865.00
3        Training Inc                       886.73
4         SA Airlines                      4947.00
5    QQ International                       200.00
6        QA Attorneys                     12500.00
7       PR Properties                     76800.00
8            Newscorp                       598.00
9        Municipality                      5620.00
10        JSE Brokers                      3750.00
11  IS Communications                      2148.00
12         Interflora                      1145.00
13     Inland Revenue                     36800.00
14    IAS Accountants                     12000.00
15         HP Finance                      3840.00
16        GF Supplies                      1101.00
17     Furniture City                      3000.00
18  Example (Pty) Ltd                    253000.00
19        EAG Brokers                      4080.00
20       DF Equipment                     10000.00
21         City Lodge                       563.00
22       Capital Bank                      1350.00
23      ACC Institute                      2000.00
24        Grand Total                    451740.73

In [15]:
#Sheet 7 Payments
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',6)

print(df)

   Sum of Tax Inclusive Amount Bank Code Unnamed: 2 Unnamed: 3   Unnamed: 4
0                 Payment Date        B1         B2         PC  Grand Total
1          2012-01-02 00:00:00      1000        NaN        NaN         1000
2          2012-01-05 00:00:00       340        NaN        NaN          340
3          2012-01-15 00:00:00        80         35        NaN          115
4          2012-01-16 00:00:00      1392        NaN        105         1497
5          2012-01-20 00:00:00     20000     -20000        NaN            0
6          2012-01-21 00:00:00       NaN        NaN         61           61
7          2012-01-26 00:00:00      6720      20000        NaN        26720
8          2012-01-31 00:00:00    738.25        NaN       -170       568.25
9          2012-02-02 00:00:00      1000        NaN        NaN         1000
10         2012-02-05 00:00:00       340        NaN        NaN          340
11         2012-02-15 00:00:00        80         35        NaN          115
12         2012-02-20 00:00:00     20000     -20000        NaN            0
13         2012-02-25 00:00:00      2200        NaN         75         2275
14         2012-02-26 00:00:00      6720      20000        NaN        26720
15         2012-02-27 00:00:00       514        NaN        NaN          514
16         2012-02-29 00:00:00      3770        NaN        -70         3700
17                 Grand Total  64894.25         70          1     64965.25

In [16]:
#Sheet 8 Sales Data
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',7)

print(df)

      EmployeeID FirstName  CustomerId CustomerID  \
0              1     Nancy       10776      ERNSH
1              1     Nancy       10776      ERNSH
2              1     Nancy       10776      ERNSH
3              1     Nancy       10776      ERNSH
4              1     Nancy       10877      RICAR
...          ...       ...         ...        ...
2150           9      Anne       10687      HUNGO
2151           9      Anne       10687      HUNGO
2152           9      Anne       10557      LEHMS
2153           9      Anne       10557      LEHMS
2154           9      Anne       10970      BOLID

                       CompanyName  OrderID  ProductID  \
0                     Ernst Handel    10776         31
1                     Ernst Handel    10776         42
2                     Ernst Handel    10776         45
3                     Ernst Handel    10776         51
4               Ricardo Adocicados    10877         16
...                            ...      ...        ...
2150  Hungry Owl All-Night Grocers    10687         29
2151  Hungry Owl All-Night Grocers    10687         36
2152           Lehmanns Marktstand    10557         64
2153           Lehmanns Marktstand    10557         75
2154     Bólido Comidas preparadas    10970         52

                        ProductName  OrderDate  UnitPrice  Quantity  SubTotal
0                 Gorgonzola Telino 1996-01-15      12.50        16     200.0
1     Singaporean Hokkien Fried Mee 1996-01-15      14.00        12     168.0
2                       Røgede sild 1996-01-15       9.50        27     256.5
3             Manjimup Dried Apples 1996-01-15      53.00       120    6360.0
4                           Pavlova 1996-03-11      17.45        30     523.5
...                             ...        ...        ...       ...       ...
2150        Thüringer Rostbratwurst 1995-10-31     123.79        10    1237.9
2151                    Inlagd Sill 1995-10-31      19.00         6     114.0
2152      Wimmers gute Semmelknödel 1995-07-04      33.25        30     997.5
2153           Rhönbräu Klosterbier 1995-07-04       7.75        20     155.0
2154                       Filo Mix 1996-04-23       7.00        40     280.0

[2155 rows x 12 columns]

In [17]:
#Sheet 9 Trujiullo
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',8)

print(df)

                           Unnamed: 0            Unnamed: 1       Unnamed: 2  \
0                                 NaN                   NaN              NaN
1                          Row Labels  Count of ProductName  Sum of SubTotal
2  Ana Trujillo Emparedados y helados                    10          1402.95
3                         Grand Total                    10          1402.95

         Unnamed: 3       Unnamed: 4
0               NaN              NaN
1  Sum of UnitPrice  Sum of Quantity
2            215.05               63
3            215.05               63

In [19]:
#Sheet 10 Alfreds
import pandas as pd

df = pd.read_excel('6-Homework.xlsx',9)

print(df)

                         Unnamed: 0        Unnamed: 1       Unnamed: 2  \
0                    SALES ANALYSIS               NaN              NaN
1                        Row Labels  Sum of UnitPrice  Sum of Quantity
2               Alfreds Futterkiste            320.85              174
3                     Aniseed Syrup                10                6
4                  Chartreuse verte                18               21
5            Escargots de Bourgogne             13.25               40
6                       Fløtemysost              21.5               20
7      Grandma's Boysenberry Spread                25               16
8                      Lakkalikööri                18               15
9   Original Frankfurter grüne Soße                13                2
10             Raclette Courdavault                55               15
11                Rössle Sauerkraut              91.2               17
12                        Spegesild                12                2
13                     Vegie-spread              43.9               20
14                      Grand Total            320.85              174

         Unnamed: 3
0               NaN
1   Sum of SubTotal
2            4596.2
3                60
4               378
5               530
6               430
7               400
8               270
9                26
10              825
11            775.2
12               24
13              878
14           4596.2